
.jumbotron{
    margin-bottom: 0px !important;
    padding-top: 80px;

}
.nav{
    margin-top: 0;
    padding-top: 40px;
}

.nav-link :hover{
    color:honeydew;
    background-color:rgb(4, 128, 10);
}
